body {
 background-image: url("images/background_homepage.jpg");
 background-color: #cccccc;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightpink;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #000000;
}

.active {
    text-decoration: underline;
}

.image {
    width: 100.65%;
    object-fit: cover;
    height: 600px;
    position: absolute;
    top: 0;
    z-index: -1;
    left: -10px;
}
